<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<bean id="std1" class="in.ineuron.comp.Student">
		<constructor-arg type="java.lang.Integer" value="1"/>
		<constructor-arg type="java.lang.String" value="Dhoni"/>
		<constructor-arg type="java.lang.String" value="CSK"/>
		<constructor-arg type="java.lang.Float" value="98.8"/>
	</bean>
	
	<bean id="std2" class="in.ineuron.comp.Student">
		<constructor-arg value="2"/>
		<constructor-arg value="Kohli"/>
		<constructor-arg value="RCB"/>
		<constructor-arg value="98.8"/>
	</bean>
	
	<bean id="std3" class="in.ineuron.comp.Student">
		<constructor-arg index="0" value="3"/>
		<constructor-arg index="1" value="Gambhir"/>
		<constructor-arg index="2" value="KKR"/>
		<constructor-arg index="3" value="98.8"/>
	</bean>
	
	<bean id="std4" class="in.ineuron.comp.Student">
		<constructor-arg name="sno" value="1"/>
		<constructor-arg name="sname" value="Rohit"/>
		<constructor-arg name="saddr" value="MI"/>
		<constructor-arg name="savg" value="98.8"/>
	</bean>
</beans>